.site-footer{
	width: 100%;
	background-color: #031410;
  border-top: 1px solid #2b7f68;
  margin-top: 4.0em;
  padding: 2em 0 12.0em;
	font-family: $secondaryFont;
	@include clearfix;
	.site-info{
		color:#e5e3e1;
		font-size: 1.0em;
		line-height: 1.25em;
		a{
			color:#e5e3e1;
			&:hover{
				color: #00795c;
			}
		}
		h4, p{
			margin:0 0 0.25em;
		}
		div.leftContain{
			float:left;
			margin-left: 2.0em;
		}
		div.RightContain{
			float:right;
			margin-right: 2.0em;
			span.nav{
				display: block;
				text-align: right;
				margin: 0 0 0.35em;
			}
			.access{
				background: url(https://themes.g5dxm.com/shared/access-icons-light.png) 0 0 no-repeat;
		    text-indent: 100%;
		    white-space: nowrap;
		    overflow: hidden;
		    display: block;
		    margin-left: 10px;
		    vertical-align: top;
		    position: absolute;
		    right:2.0em;
		    margin-top: 1.0em;
			}
			.handicap-icon {
			  background-position: -43px 0;
			  height: 23px;
			  width: 20px;
			}
			.social-links{
				margin-bottom: .5em;
				text-align: right;
				padding: 15px 15px 0 15px;
				a{
					margin: 0 15px 15px 0;
					display: inline-block;
				}
				.housing-icon{
					line-height: 1.5em;
				}
				.icon{
					-webkit-transition: background-color 0.2s ease;
			    -moz-transition: background-color 0.2s ease;
			    transition: background-color 0.2s ease;
			    background-color: #007d60;
			    height: 45px;
			    width: 45px;
				}
			}
		}
	}
}