div.container{
	@include outer-container();
	@include clearfix;
  @include media ($dropscreen) {
    padding: 0 2.0em;
  }
}
#secondary{
	@include span-columns(4);
  float:left;
  @include media ($tablet) {
    @include span-columns(12);
  }
}
#primary{
	@include span-columns(8);
  float:right;
  margin-right: 0;
  margin-left:1.0em;
  @include media ($tablet) {
    @include span-columns(12);
    margin-bottom: 2.0em;
    margin-left:0em;
  }
}