//Color Variables
$primaryColor : #00795c;
$secondaryColor : rgba(0, 121, 92, 0.8);

$primaryGreen : #007d60;
$primaryYellow : #fee101;

//Media Breakpoints
$desktop: new-breakpoint(min-width 1100px);
$dropscreen: new-breakpoint(max-width 1099px);
$tablet: new-breakpoint(max-width 860px);
$mobile: new-breakpoint(max-width 767px);
$phone: new-breakpoint(max-width 468px);

//Fonts
// $primaryFont : lato, pt-sans, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$primaryFont : 'Lato', pt-sans, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$secondaryFont : 'pt-sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
 